<div id="bubble-chart" class="tab-pane fade">
    <div id="bubble" class="mx-auto" style="width: 475px;">
        <h1>Gráfico de Burbujas</h1>
        <h2>Actividades Lúdicas preferidas</h2>
    </div>
</div>