<div id="bubble-chart" class="tab-pane fade">
    <div id="bubble" class="mx-auto" style="width: 475px;">
    </div>
</div>
<script src="https://code.highcharts.com/highcharts.js"></script>
<!-- Highcharts bubble -->
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<!-- Local -->
<script src="/scripts/views/partials/bubble.js"></script>
