<select id="category" class="form-control">
    <option value="0">Seleccione una categoría</option>
    <option value="edad">Edad</option>
    <option value="educacion">Educación</option>
    <option value="region">Región</option>
    <option value="sexo">Sexo</option>
    <option value="zona">Zona</option>
    <option value="total">Total</option>
</select>