<div class="form-group col-6">
    <label for="chart-select" class="col-12">Tipo de gráfico</label>
    <select id="chart-select" class="form-control col-12" onchange="selectChart(this.value)">
        <option value="sunburst">Sunburst</option>
        <option value="bubble">Bubble</option>
    </select>
</div>