<div id="sunburst-chart" class="tab-pane fade show active">
    <div id="sunburst" class="mx-auto" style="width: 475px;">
    </div>
</div>
<!-- Highcharts -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<!-- Highcharts sunburst -->
<script src="https://code.highcharts.com/modules/sunburst.js"></script>
<!-- Local -->
<script src="/scripts/views/partials/sunburst.js"></script>